.add-button {
  padding: 10px 20px; 
  font-size: 20px;
  color: #fff;
  border-color: #586D7F; 
  border-radius: 10px;
}

.add-button:hover {
  border-color: #63B8FF;
}

.add-button:focus {
  outline: none;
}
